Schemas/xsd_files/eng.xsd

<?xml version="1.0" ?>
<xs:schema targetNamespace="https://erju.org/eng" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eng="https://erju.org/eng" elementFormDefault="qualified" version="1.0" xmlns:infra="https://erju.org/infra" xmlns:ss026="https://erju.org/ss026">
	<xs:import namespace="https://erju.org/infra" schemaLocation="infra.xsd"/>
	<xs:import namespace="https://erju.org/ss026" schemaLocation="ss026.xsd"/>
	<xs:simpleType name="BufferStopType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="friction"/>
			<xs:enumeration value="hydraulic"/>
			<xs:enumeration value="fixated"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DuplicationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="noDuplicates"/>
			<xs:enumeration value="duplicateNextBalise"/>
			<xs:enumeration value="duplicatePreviousBalise"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SleepersType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="unknownSleepersType"/>
			<xs:enumeration value="composite"/>
			<xs:enumeration value="concrete"/>
			<xs:enumeration value="steel"/>
			<xs:enumeration value="wood"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BufferStop">
		<xs:sequence>
			<xs:element name="dangerPoints" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference to eng:DangerPoint</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dangerPoint" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="ref" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="linearElementSections" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="linearElementSection" type="infra:LinearElementSection" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="bsType" type="eng:BufferStopType" use="required"/>
	</xs:complexType>
	<xs:element name="bufferStop" type="eng:BufferStop"/>
	<xs:complexType name="Switch">
		<xs:sequence>
			<xs:element name="foulingPoints" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference to eng:FoulingPoint</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="foulingPoint" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="ref" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="tipShift" type="xs:decimal" use="required"/>
		<xs:attribute name="bladeLength" type="xs:decimal" use="required"/>
	</xs:complexType>
	<xs:element name="switch" type="eng:Switch"/>
	<xs:complexType name="Crossing">
		<xs:sequence>
			<xs:element name="foulingPoints" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference to eng:FoulingPoint</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="foulingPoint" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="ref" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="crossing" type="eng:Crossing"/>
	<xs:complexType name="LevelCrossing">
		<xs:sequence>
			<xs:element name="dangerPoints" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference to eng:DangerPoint</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dangerPoint" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="ref" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="levelCrossing" type="eng:LevelCrossing"/>
	<xs:complexType name="BaliseGroup">
		<xs:sequence/>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="etcsMVersion" type="ss026:ETCSMVersions" use="required"/>
		<xs:attribute name="q_link" type="xs:boolean" use="required"/>
		<xs:attribute name="q_updown" type="xs:boolean" use="required"/>
	</xs:complexType>
	<xs:element name="baliseGroup" type="eng:BaliseGroup"/>
	<xs:complexType name="Balise">
		<xs:sequence>
			<xs:element name="etcsPackets" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="etcsPacket" type="ss026:BalisePacket" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="fixed" type="xs:boolean" use="required"/>
		<xs:attribute name="m_dup" type="eng:DuplicationType" use="required"/>
		<xs:attribute name="m_mcount" type="xs:unsignedInt" use="required"/>
		<xs:attribute name="n_pig" type="xs:unsignedInt" use="required"/>
		<xs:attribute name="verticallyOriented" type="xs:boolean" use="required"/>
		<xs:attribute name="standardSize" type="xs:boolean" use="required"/>
		<xs:attribute name="telegram" type="xs:base64Binary" use="required"/>
		<xs:attribute name="telegramChecksum" type="xs:string" use="required"/>
		<xs:attribute name="sleeperFastening" type="xs:string" use="required"/>
		<xs:attribute name="baliseMountingSystem" type="xs:string" use="required"/>
		<xs:attribute name="designType" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="balise" type="eng:Balise"/>
	<xs:complexType name="Sleepers">
		<xs:sequence>
			<xs:element name="linearElementSection" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="linearElementSectionItem" type="infra:LinearElementSection" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="sleepersType" type="eng:SleepersType" use="required"/>
	</xs:complexType>
	<xs:element name="sleepers" type="eng:Sleepers"/>
	<xs:complexType name="DangerPoint">
		<xs:sequence>
			<xs:element name="topologicalCoordinate" type="infra:TopologicalCoordinate" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="dangerPoint" type="eng:DangerPoint"/>
	<xs:complexType name="FoulingPoint">
		<xs:sequence>
			<xs:element name="topologicalCoordinate" type="infra:TopologicalCoordinate" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:element name="foulingPoint" type="eng:FoulingPoint"/>
	<xs:complexType name="EngArea">
		<xs:sequence>
			<xs:element name="switches" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="switch" type="eng:Switch" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="crossings" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="crossing" type="eng:Crossing" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="levelCrossings" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="levelCrossing" type="eng:LevelCrossing" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="baliseGroups" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="baliseGroup" type="eng:BaliseGroup" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="balises" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="balise" type="eng:Balise" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sleepers" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sleeper" type="eng:Sleepers" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="dangerPoints" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dangerPoint" type="eng:DangerPoint" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="foulingPoints" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="foulingPoint" type="eng:FoulingPoint" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="bufferStops" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="bufferStop" type="eng:BufferStop" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="defaultSleepersType" type="eng:SleepersType" use="required"/>
	</xs:complexType>
	<xs:element name="engArea" type="eng:EngArea"/>
	<xs:complexType name="LocationAccuracyArea">
		<xs:sequence>
			<xs:element name="coordinateAccuracies" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="coordinateAccuracy" type="eng:TopoCoordinateAccuracy" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="locationAccuracyArea" type="eng:LocationAccuracyArea"/>
	<xs:complexType name="TopoCoordinateAccuracy">
		<xs:sequence>
			<xs:element name="topologicalCoordinate" type="infra:TopologicalCoordinate" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="accuracy" type="xs:unsignedInt" use="required"/>
	</xs:complexType>
	<xs:element name="topoCoordinateAccuracy" type="eng:TopoCoordinateAccuracy"/>
	<xs:complexType name="LinearElementKm">
		<xs:sequence>
			<xs:element name="kilometricPosts" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="kilometricPost" type="eng:KilometricPost" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="linearElement" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Reference to infra:LinearElement</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="linearElementKm" type="eng:LinearElementKm"/>
	<xs:complexType name="KilometricPost">
		<xs:sequence/>
		<xs:attribute name="pos" type="xs:unsignedInt" use="required"/>
		<xs:attribute name="kilometer" type="xs:int" use="required"/>
		<xs:attribute name="kmPostName" type="xs:string"/>
	</xs:complexType>
	<xs:element name="kilometricPost" type="eng:KilometricPost"/>
	<xs:complexType name="KmArea">
		<xs:sequence>
			<xs:element name="linearElementKm" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="linearElementKmItem" type="eng:LinearElementKm" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="kmArea" type="eng:KmArea"/>
	<xs:complexType name="ETCSEngineering">
		<xs:sequence>
			<xs:element name="engAreas" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="engArea" type="eng:EngArea" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="locationAccuracyAreas" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="locationAccuracyArea" type="eng:LocationAccuracyArea" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="kmAreas" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="kmArea" type="eng:KmArea" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="eTCSEngineering" type="eng:ETCSEngineering"/>
</xs:schema>
