Schemas/xsd_files/tp.xsd

<?xml version="1.0" ?>
<xs:schema targetNamespace="https://erju.org/tp" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tp="https://erju.org/tp" elementFormDefault="qualified" version="1.0" xmlns:infra="https://erju.org/infra" xmlns:ss026="https://erju.org/ss026" xmlns:map="https://erju.org/map" xmlns:eng="https://erju.org/eng">
	<xs:import namespace="https://erju.org/infra" schemaLocation="infra.xsd"/>
	<xs:import namespace="https://erju.org/ss026" schemaLocation="ss026.xsd"/>
	<xs:import namespace="https://erju.org/map" schemaLocation="map.xsd"/>
	<xs:import namespace="https://erju.org/eng" schemaLocation="eng.xsd"/>
	<xs:simpleType name="DPSDependencyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="exclusive"/>
			<xs:enumeration value="equivalent"/>
			<xs:enumeration value="specific"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MarkerFunction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="exit"/>
			<xs:enumeration value="entry"/>
			<xs:enumeration value="intermediate"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ProtectedInfraElement">
		<xs:choice>
			<xs:element name="switch">
				<xs:complexType>
					<xs:attribute name="ref" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="slipCrossing">
				<xs:complexType>
					<xs:attribute name="ref" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="crossing">
				<xs:complexType>
					<xs:attribute name="ref" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="derailer">
				<xs:complexType>
					<xs:attribute name="ref" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="levelCrossing">
				<xs:complexType>
					<xs:attribute name="ref" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="DriveProtectionSectionGroup">
		<xs:sequence>
			<xs:element name="driveProtectionSections" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="driveProtectionSection" type="tp:DriveProtectionSection" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="protectedInfraElements" type="tp:ProtectedInfraElement" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dpsgDependencies" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dpsgDependency" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="value" type="xs:unsignedInt" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="dependenciesType" type="tp:DPSDependencyType" use="required"/>
		<xs:attribute name="runTime" type="xs:unsignedInt" use="required"/>
	</xs:complexType>
	<xs:element name="driveProtectionSectionGroup" type="tp:DriveProtectionSectionGroup"/>
	<xs:complexType name="DriveProtectionSection">
		<xs:sequence>
			<xs:element name="linearElementSection" type="infra:LinearElementSection" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="maxFlankProtectionSpeed" type="xs:unsignedInt" use="required"/>
	</xs:complexType>
	<xs:element name="driveProtectionSection" type="tp:DriveProtectionSection"/>
	<xs:complexType name="AllocationSection">
		<xs:sequence>
			<xs:element name="linearReference" type="infra:NetLinearReference" minOccurs="1" maxOccurs="1"/>
			<xs:element name="dependencies" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference to tp:AllocationSection</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dependency" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="ref" type="xs:string" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:element name="allocationSection" type="tp:AllocationSection"/>
	<xs:complexType name="ControlledInfraElement">
		<xs:choice>
			<xs:element name="dpsGroup">
				<xs:complexType>
					<xs:attribute name="ref" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="tvpSection">
				<xs:complexType>
					<xs:attribute name="ref" type="xs:string" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="FieldObjectController">
		<xs:sequence>
			<xs:element name="controlledInfraElements" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="controlledInfraElement" type="tp:ControlledInfraElement" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="controlledBy" type="tp:Controller" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="belongsToAoc" type="xs:string" use="required">
			<xs:annotation>
				<xs:documentation>Reference to tp:AreaOfControl</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="fieldObjectController" type="tp:FieldObjectController"/>
	<xs:complexType name="AreaOfControl">
		<xs:sequence>
			<xs:element name="area" type="infra:NetAreaReference" minOccurs="1" maxOccurs="1"/>
			<xs:element name="controlledBy" type="tp:Controller" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	<xs:element name="areaOfControl" type="tp:AreaOfControl"/>
	<xs:complexType name="Controller">
		<xs:sequence/>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="iPAddress" type="xs:string"/>
		<xs:attribute name="rastaId" type="xs:string"/>
		<xs:attribute name="portNumber" type="xs:string"/>
		<xs:attribute name="eulynxBaseline" type="xs:string"/>
		<xs:attribute name="version" type="xs:unsignedInt" use="required"/>
	</xs:complexType>
	<xs:element name="controller" type="tp:Controller"/>
	<xs:complexType name="RBCConfigurationPacket">
		<xs:sequence>
			<xs:element name="rbcArea" type="tp:AreaOfControl" minOccurs="1" maxOccurs="1"/>
			<xs:element name="topoAreas" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="topoArea" type="infra:TopoArea" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="switches" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="switch" type="infra:Switch" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="slipCrossings" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="slipCrossing" type="infra:SlipCrossing" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="crossings" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="crossing" type="infra:Crossing" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="baliseGroups" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="baliseGroup" type="eng:BaliseGroup" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="etcsMarkers" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="etcsMarker" type="tp:ETCSMarker" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="sampledLinearElementGeometries" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="sampledLinearElementGeometry" type="infra:SampledLinearElementGeometry" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="linearElementSpeedProfiles" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="linearElementSpeedProfile" type="infra:LinearElementSpeedProfile" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="maps" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="map" type="map:Map" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="bridges" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="bridge" type="infra:Bridge" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="levelCrossings" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="levelCrossing" type="infra:LevelCrossing" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="trackConditions" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="trackCondition" type="infra:TrackCondition" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="platformEdges" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="platformEdge" type="infra:PlatformEdge" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="foulingPoints" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="foulingPoint" type="eng:FoulingPoint" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="rBCConfigurationPacket" type="tp:RBCConfigurationPacket"/>
	<xs:complexType name="ETCSMarker">
		<xs:sequence>
			<xs:element name="acknowledgementDistance" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="acknowledgementDistanceItem" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="value" type="xs:unsignedInt" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="maxTransitionSpeed" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="maxTransitionSpeedItem" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="value" type="xs:unsignedInt" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="offsetTransitionUnreachable" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="offsetTransitionUnreachableItem" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="value" type="xs:unsignedInt" use="required"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="markerType" type="tp:MarkerFunction" use="required"/>
	</xs:complexType>
	<xs:element name="eTCSMarker" type="tp:ETCSMarker"/>
	<xs:complexType name="TrainProtectionArea">
		<xs:sequence>
			<xs:element name="dpsGroups" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="dpsGroup" type="tp:DriveProtectionSectionGroup" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="allocationSections" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="allocationSection" type="tp:AllocationSection" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="fieldObjectControllers" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="fieldObjectController" type="tp:FieldObjectController" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="areaOfControl" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="areaOfControlItem" type="tp:AreaOfControl" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="rbc" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="rbcItem" type="tp:RBCConfigurationPacket" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="etcsMarkers" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="etcsMarker" type="tp:ETCSMarker" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="controllers" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="controller" type="tp:Controller" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="trainProtectionArea" type="tp:TrainProtectionArea"/>
	<xs:complexType name="TrainProtection">
		<xs:sequence>
			<xs:element name="tpArea" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="tpAreaItem" type="tp:TrainProtectionArea" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="trainProtection" type="tp:TrainProtection"/>
</xs:schema>
